/*サイドメニュー*/

/* サイドメニュー ※リストのスタイルは省略 */
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 90vw;
  height: 100vh;
  text-align: left;
  font-size: 13px;
  background: #fffafa;
  z-index: 1;
  padding: 5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  box-sizing: border-box;
}

.s_header{
    width: 100%;
    height: 10vh;

}

.s_header > h1{
    color:#555e64;
    font-size: 5vh;
    //margin-bottom: 10px;

}

.setting{
    position: absolute;
    //top:15vh;
}

legend{
    font-size: 7vmin;
    margin: auto;
    color:#555e64;

}

fieldset{
    box-sizing: border-box;
    border: 4px solid #a1b91d;
    width: 84vw;
}

/*曜日*/
fieldset:nth-child(1){
    height: 30vh;
    padding-left: 2vw;
}
fieldset:nth-child(1) > div > div > label{
    width: 20vmin;
    height: 2vh}

/*時間*/
fieldset:nth-child(2){
    height: 15vh;
}

/*教室*/
fieldset:nth-child(3){
    height: 20vh;
}

.setting > div{
    margin-top: 2vh;
    width: 100%;
    height: 10vh;
   // background-color: blue;
}

.items{
    width:100%;
    height:100%;
    //margin-left:35px;
     color:#555e64;
}


.start{
    margin-bottom: 5px;
}

.reset{
    margin-left: 6px;
    margin-top: 5px;

}

.reset > label{
    width: 40vw;
    height: 7vh;
    font-size: 7vmin;
}

.search > label{
    float: right;
    height: 7vh;
    margin-right: 6px;
    font-size: 7vmin;
}



/* サイドメニューオープン */
.side-open .wrapper,
.side-open .overlay {
  -webkit-transform: translate3d(-90vw, 0, 0);
  transform: translate3d(-90vw, 0, 0);
}
