*{
    margin: 0;

}

ul,li{
    list-style: none;
}


html,body{
    height: 100vh;
}

/* メインコンテンツ */
.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 13px;
  background: #F8F8F8;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
  background-image: url("../img/background-img-main.jpg");

}
/* メインコンテンツ内のスタイル ※デザインに併せて適当に */
.header {
  width: 100vw;
  height: 15vh;
  padding: 5vh ;
  background: #161616;
  color: #fff;
  box-sizing: border-box;
}
.header h1 {
  //margin-bottom: 30px;
  float: left;
  font-size: 5vh;
}

/* 開閉用ボタン ※ボタンの細かいスタイルは省略 */
.side-menu-btn {
  position: fixed;
  top: 2vh;
  left: 83vw;
  width: 10vmin;
  height: 10vmin;
  padding: 5px;
  background: #ccc;
  cursor: pointer;
  z-index: 4;
}

.side-menu-btn > img{
    width: 100%;
    height:100%;
}
.contents {
   
    width: 100%;
    height: 360px;
    box-sizing: border-box;
}

.main_contents{ 
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height:75vh;
}

.main{
    float: left;
    background-color: red;
    width: 72vw;
    height: 100%;
}

.slide-bar{
    float: left;
    background-color: blue;
    width: 18vw;
    height: 100%;
}

.map{
    margin: 0;
    padding: 0;
    width: 50vw;
    height:100vw;
    position: absolute;
    margin-top: 10px;
    margin-left: 7px;
  
}
.contents p {
  margin-bottom: 50px;
}

.footer{

    width: 100%;
    height: 10vh;
    background-color: cyan;
}

.slide-bar input{
    -webkit-appearance: slider-vertical;
    width: 8vh;
    height: 70vh;
    margin-top: 2vh;
}


/*@media(min-width:360px) and (max-width:420px){
    .main_contents{
        width:340px;
        height:408px;
    }
    .main{
        width: 280px;
    }
}

@media(min-width:421px) and (max-width:500px){
     .main_contents{
        width:400px;
        height:480px;
    }
    .main{
        width: 340px;
    }
}

@media(min-width:501px) and (max-width:600px){
    .header{
        height: 80px;
        padding: 30px;
    }
   
    .header h1{
        font-size: 25px;
    }
    
    .side-menu-btn{
        top:10px;
        right: 10px;
        width : 50px;
        height: 50px;
    }
    
     .main_contents{
        width:480px;
        height: 588px;
    }
    .main{
        width: 420px;   
    }
    .footer{
        height: 150px;  
    }
    
    .side-menu{}
    
}

@media(min-width:601px) and (max-width:700px){
     .main_contents{
        width:580px;
        height: 696px;
    }
    .main{
        width: 520px;   
    }
    .footer{
        height: 150px;  
    }
}

@media(min-width:701px) and (max-width:800px){
     .main_contents{
        width:680px;
        height: 936px;
    }
    .main{
        width: 620px;   
    }
    .footer{
        height: 250px;  
    }
}*/
